body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.block {
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}

h4 {
    background-color: rgb(158, 155, 155);
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin-bottom: 40px;
}

.content p {
    text-align: justify;
}

.content img {
    float: left;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 10px;
}
